# Core functionality - changes here should be rare!
/src/app.py                   @kjcohen
/src/backend/database.py      @kjcohen
/src/backend/routers/auth.py  @kjcohen

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kjcohen
